:root {
  --main: rgb(0, 0, 0);
  --main2: rgb(0, 0, 0);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
}

h1{
  color: var(--main);
  text-align: center;
  margin: auto;
}

.imgCon{
  /* border: 3px solid var(--main); */
  float:left;
  width: 30%;
  margin: auto;
  padding: auto;
}
.left{
  float:left;
  margin: auto;
  height: 50px
}
.right{
  float:right;
  margin: auto;
  height: 50px
}

.main{
  margin: auto;
  width: 40%;
  padding: 10px;
  color: var(--main2);
  font-size: 20px;
}

.mainimg{
  width:40%;
  margin-left:30%;
  margin-right:30%;
  margin-top:20px;
  margin-bottom:10%;
}
